In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.manifold import TSNE

In [3]:
DATASET_DIR = "../dataset/regression/qsar"
SAVE_NAME = "qsar_ori.csv"

In [4]:
df = pd.read_csv(f"{DATASET_DIR}/{SAVE_NAME}")
df

      CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  quantitative response
0    3.260      0.829   1.676      0      1  1.453                  3.770
1    2.189      0.580   0.863      0      0  1.348                  3.115
2    2.125      0.638   0.831      0      0  1.348                  3.531
3    3.027      0.331   1.472      1      0  1.807                  3.510
4    2.094      0.827   0.860      0      0  1.886                  5.390
..     ...        ...     ...    ...    ...    ...                    ...
903  2.801      0.728   2.226      0      2  0.736                  3.109
904  3.652      0.872   0.867      2      3  3.983                  4.040
905  3.763      0.916   0.878      0      6  2.918                  4.818
906  2.831      1.393   1.077      0      1  0.906                  5.317
907  4.057      1.032   1.183      1      3  4.754                  8.201

[908 rows x 7 columns]

In [5]:
y_feature = "quantitative response"

In [6]:
df.corr().iloc[-1,:].sort_values()

GATS1i                  -0.397965
NdsCH                    0.172004
NdssC                    0.172390
CIC0                     0.291854
SM1_Dz(Z)                0.410893
MLOGP                    0.651664
quantitative response    1.000000
Name: quantitative response, dtype: float64

In [7]:
df.corr()

,CIC0,SM1_Dz(Z),GATS1i,NdsCH,NdssC,MLOGP,quantitative response
CIC0,1.000000,-0.235360,0.147622,0.121341,0.246639,0.463867,0.291854
SM1_Dz(Z),-0.235360,1.000000,-0.145967,-0.141401,0.163179,0.200663,0.410893
GATS1i,0.147622,-0.145967,1.000000,-0.010657,0.092410,-0.450739,-0.397965
NdsCH,0.121341,-0.141401,-0.010657,1.000000,0.188164,0.048620,0.172004
NdssC,0.246639,0.163179,0.092410,0.188164,1.000000,0.028499,0.172390
MLOGP,0.463867,0.200663,-0.450739,0.048620,0.028499,1.000000,0.651664
quantitative response,0.291854,0.410893,-0.397965,0.172004,0.172390,0.651664,1.000000

In [8]:
df["SM1_Dz(Z)"].value_counts()

0.223    135
0.134     74
0.405     69
0.331     39
0.000     36
        ...
0.889      1
1.374      1
1.336      1
1.477      1
1.098      1
Name: SM1_Dz(Z), Length: 186, dtype: int64

In [9]:
pd.qcut(df["SM1_Dz(Z)"], 3, labels=['0', '1', '2']).value_counts()

0    306
1    304
2    298
Name: SM1_Dz(Z), dtype: int64

In [16]:
df["Overall Height"].value_counts()

3.5    384
7.0    383
Name: Overall Height, dtype: int64

In [17]:
df["Relative Compactness"].value_counts()

0.90    64
0.79    64
0.71    64
0.66    64
0.64    64
0.86    64
0.76    64
0.74    64
0.82    64
0.62    64
0.69    64
0.98    63
Name: Relative Compactness, dtype: int64

In [18]:
pd.qcut(df["Relative Compactness"], 3, labels=['0', '1', '2']).value_counts()

1    256
0    256
2    255
Name: Relative Compactness, dtype: int64